TestAPIWebApplication/Connected Services/ServiceReference1/BSELService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BSELService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IBSELServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" />
      <xsd:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBSELServices_EncryptData_InputMessage">
    <wsdl:part name="parameters" element="tns:EncryptData" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_EncryptData_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GenerateSecurityHashCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSecurityHashCode" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GenerateSecurityHashCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSecurityHashCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetUtilityData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilityData" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetUtilityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilityDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetFieldInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldInfo" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetFieldInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_PreTransactionDataValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:PreTransactionDataValidation" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_PreTransactionDataValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreTransactionDataValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetTransactionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionStatus" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetTransactionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetTransactionReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionReport" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetTransactionReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionReportResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTransaction" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendRemitterDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRemitterDocument" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendRemitterDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRemitterDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendReceiverDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SendReceiverDocument" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendReceiverDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendReceiverDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendMobileWhitelistRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMobileWhitelistRequest" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendMobileWhitelistRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMobileWhitelistRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendAmendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAmendRequest" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendAmendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAmendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendCancelRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCancelRequest" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_SendCancelRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetAggregatorProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAggregatorProfile" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetAggregatorProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAggregatorProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetBankDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankDetails" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetBankDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetBankBranchDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankBranchDetails" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_GetBankBranchDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankBranchDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_FetchTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchTitle" />
  </wsdl:message>
  <wsdl:message name="IBSELServices_FetchTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="IBSELServices">
    <wsdl:operation name="EncryptData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/EncryptData" message="tns:IBSELServices_EncryptData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/EncryptDataResponse" message="tns:IBSELServices_EncryptData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetSession" message="tns:IBSELServices_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetSessionResponse" message="tns:IBSELServices_GetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSecurityHashCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GenerateSecurityHashCode" message="tns:IBSELServices_GenerateSecurityHashCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GenerateSecurityHashCodeResponse" message="tns:IBSELServices_GenerateSecurityHashCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilityData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetUtilityData" message="tns:IBSELServices_GetUtilityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetUtilityDataResponse" message="tns:IBSELServices_GetUtilityData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetFieldInfo" message="tns:IBSELServices_GetFieldInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetFieldInfoResponse" message="tns:IBSELServices_GetFieldInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreTransactionDataValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/PreTransactionDataValidation" message="tns:IBSELServices_PreTransactionDataValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/PreTransactionDataValidationResponse" message="tns:IBSELServices_PreTransactionDataValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetTransactionStatus" message="tns:IBSELServices_GetTransactionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetTransactionStatusResponse" message="tns:IBSELServices_GetTransactionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetTransactionReport" message="tns:IBSELServices_GetTransactionReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetTransactionReportResponse" message="tns:IBSELServices_GetTransactionReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/SendTransaction" message="tns:IBSELServices_SendTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/SendTransactionResponse" message="tns:IBSELServices_SendTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRemitterDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/SendRemitterDocument" message="tns:IBSELServices_SendRemitterDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/SendRemitterDocumentResponse" message="tns:IBSELServices_SendRemitterDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendReceiverDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/SendReceiverDocument" message="tns:IBSELServices_SendReceiverDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/SendReceiverDocumentResponse" message="tns:IBSELServices_SendReceiverDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMobileWhitelistRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/SendMobileWhitelistRequest" message="tns:IBSELServices_SendMobileWhitelistRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/SendMobileWhitelistRequestResponse" message="tns:IBSELServices_SendMobileWhitelistRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAmendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/SendAmendRequest" message="tns:IBSELServices_SendAmendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/SendAmendRequestResponse" message="tns:IBSELServices_SendAmendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCancelRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/SendCancelRequest" message="tns:IBSELServices_SendCancelRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/SendCancelRequestResponse" message="tns:IBSELServices_SendCancelRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAggregatorProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetAggregatorProfile" message="tns:IBSELServices_GetAggregatorProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetAggregatorProfileResponse" message="tns:IBSELServices_GetAggregatorProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetBankDetails" message="tns:IBSELServices_GetBankDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetBankDetailsResponse" message="tns:IBSELServices_GetBankDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankBranchDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/GetBankBranchDetails" message="tns:IBSELServices_GetBankBranchDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/GetBankBranchDetailsResponse" message="tns:IBSELServices_GetBankBranchDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSELServices/FetchTitle" message="tns:IBSELServices_FetchTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSELServices/FetchTitleResponse" message="tns:IBSELServices_FetchTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IBSELServices" type="tns:IBSELServices">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBSELServices_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptData">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/EncryptData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSecurityHashCode">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GenerateSecurityHashCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilityData">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetUtilityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldInfo">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetFieldInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreTransactionDataValidation">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/PreTransactionDataValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetTransactionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionReport">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetTransactionReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTransaction">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/SendTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRemitterDocument">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/SendRemitterDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReceiverDocument">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/SendReceiverDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMobileWhitelistRequest">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/SendMobileWhitelistRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAmendRequest">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/SendAmendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCancelRequest">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/SendCancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAggregatorProfile">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetAggregatorProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankDetails">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetBankDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankBranchDetails">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/GetBankBranchDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchTitle">
      <soap:operation soapAction="http://tempuri.org/IBSELServices/FetchTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BSELService">
    <wsdl:port name="BasicHttpsBinding_IBSELServices" binding="tns:BasicHttpsBinding_IBSELServices">
      <soap:address location="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>