TestAPIWebApplication/Connected Services/ServiceReference1/BSELServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" />
  <xs:import schemaLocation="https://uat.bracsaajanexchange.com/remiterpsendapi/BSELServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="EncryptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="encryptRequest" nillable="true" type="q1:EncryptRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="sessionRequest" nillable="true" type="q2:SessionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetSessionResult" nillable="true" type="q3:SessionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSecurityHashCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="hashCodeRequest" nillable="true" type="q4:HashCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSecurityHashCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GenerateSecurityHashCodeResult" nillable="true" type="q5:HashCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="codeDataRequest" nillable="true" type="q6:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetUtilityDataResult" nillable="true" type="q7:CodeDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetFieldInfoResult" nillable="true" type="q8:FieldResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreTransactionDataValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="preValidationRequests" nillable="true" type="q9:ArrayOfPreValidationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreTransactionDataValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="PreTransactionDataValidationResult" nillable="true" type="q10:ArrayOfPreValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="transactionStatusRequest" nillable="true" type="q11:TransactionStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetTransactionStatusResult" nillable="true" type="q12:ArrayOfTransactionStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="transactionReportRequest" nillable="true" type="q13:TransactionReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetTransactionReportResult" nillable="true" type="q14:TransactionReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="moneyTransferReq" nillable="true" type="q15:ArrayOfMoneyTransfer" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReferenceList" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="SendTransactionResult" nillable="true" type="q17:ArrayOfMoneytransferResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRemitterDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="remitterDocument" nillable="true" type="q18:ArrayOfRemitterDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRemitterDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="SendRemitterDocumentResult" nillable="true" type="q19:ArrayOfDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReceiverDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="receiverDocument" nillable="true" type="q20:ArrayOfReceiverDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReceiverDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="SendReceiverDocumentResult" nillable="true" type="q21:ArrayOfDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMobileWhitelistRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="mobileWhiteListRequest" nillable="true" type="q22:MobileWhiteListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMobileWhitelistRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="SendMobileWhitelistRequestResult" nillable="true" type="q23:MobileWhiteListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAmendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="amendRequest" nillable="true" type="q24:AmendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAmendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="SendAmendRequestResult" nillable="true" type="q25:AmendResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="cancelRequest" nillable="true" type="q26:CancelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCancelRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="SendCancelRequestResult" nillable="true" type="q27:SendCancelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAggregatorProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="agentProfileRequest" nillable="true" type="q28:AgentProfileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAggregatorProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetAggregatorProfileResult" nillable="true" type="q29:AgentProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="bankRequest" nillable="true" type="q30:BankRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetBankDetailsResult" nillable="true" type="q31:BankResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankBranchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="bankBranchRequest" nillable="true" type="q32:BankBranchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankBranchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="GetBankBranchDetailsResult" nillable="true" type="q33:BankBranchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="titleFetchingRequest" nillable="true" type="q34:TitleFetchingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BSELAPI.DTO" minOccurs="0" name="FetchTitleResult" nillable="true" type="q35:TitleFetchingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>